*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 0;
  /* outline: 1px solid red; */
}


/* FONTS */
/* 
** Subset font of open sans made with https://github.com/fonttools/fonttools 
** based on https://macarthur.me/posts/variable-fonts/
 */
@font-face {
  font-family: 'Open Sans';
  src: 
    local('Open Sans'),
    url('/assets/OpenSans/OpenSans-VariableFont_wdth,wght_subset.woff2') format('woff2');
  font-display: swap;
}

:root {
  color-scheme: dark;
  --gray: 34, 34, 34;
  --gray-100: 38, 38, 38;
  --white: 249, 245, 255;
  --black: 2, 6, 23;
  --purple: 153, 143, 199;
  --pink: 212, 194, 252;
  --blue-100: 10, 1, 37;
  --blue-150: 15, 15, 40;
  --blue-170: 35, 35, 65;
  --blue-200: 42, 36, 71;
  --blue-250: 72, 66, 101;
  --green: 89, 195, 195;
  --red: 255, 102, 102;
  --dark-red: 76, 0, 0;
  
  --text-xs: 0.625rem; 
  --text-sm: 0.75rem; 
  --text-md: 0.875rem; 
  --text-lg: 1.125rem; 

  --font-family: 'Open Sans', ui-sans-serif, system-ui, sans-serif;

  --space: 1rem;

  --space-xs: calc(var(--space) * 0.25);
  --space-sm: calc(var(--space) * 0.5);
  --space-md: var(--space);
  --space-lg: calc(var(--space) * 1.5);
  --space-xl: calc(var(--space) * 2);
  
  --fw-medium: 400;
  --fw-semibold: 500;
  --fw-bold: 600;

  --scrollbar-width: 0px;

  background-color: rgba(var(--black));
}

/* =========================================================
   Breakpoints
   ========================================================= */

/* BREAKPOINT small (<= 45rem) */

body {
  font-family: var(--font-family);
  color: rgb(var(--white));
}

body, html, #root {
  min-height: 100dvh;
  width: 100%;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

input,
button {
  font-family: inherit;
  color: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

svg {
}

img {
  background-color: rgba(var(--gray));
}


::selection  {
  background-color: rgba(var(--blue-200), 1);
  color: rgba(var(--purple));
}


/* common */

.container {
  max-width: 1050px;
  width: 95%;
  margin-inline: auto;
}

.container--small {
  max-width: 550px;
}

.flex-1 {
  flex: 1;
}


.clickable-card {
  position: relative;
}

.clickable-card__primary-action::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
}

.clickable-card__secondary-action {
  position: relative;
  z-index: 1; 
}

.no-scrollbar::-webkit-scrollbar { 
  display: none; 
} 

.no-scrollbar { 
  -ms-overflow-style: none;
  scrollbar-width: none;
} 

.scrollbar-reserve {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

.section-box {
  background-color: rgba(var(--blue-100), 1);  
  border: 1px solid rgba(var(--blue-170), 1);
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}


.mt-xs { margin-block-start: var(--space-xs); }
.mt-sm { margin-block-start: var(--space-sm); }
.mt-md { margin-block-start: var(--space-md); }
.mt-lg { margin-block-start: var(--space-lg); }

.mb-xs { margin-block-end: var(--space-xs); }
.mb-sm { margin-block-end: var(--space-sm); }
.mb-md { margin-block-end: var(--space-md); }
.mb-lg { margin-block-end: var(--space-lg); }

.p-xs { padding: var(--space-xs); }
.p-sm { padding: var(--space-sm); }
.p-md { padding: var(--space-md); }
.p-lg { padding: var(--space-lg); }

.pt-xs { padding-block-start: var(--space-xs); }
.pt-sm { padding-block-start: var(--space-sm); }
.pt-md { padding-block-start: var(--space-md); }
.pt-lg { padding-block-start: var(--space-lg); }

.pb-xs { padding-block-end: var(--space-xs); }
.pb-sm { padding-block-end: var(--space-sm); }
.pb-md { padding-block-end: var(--space-md); }
.pb-lg { padding-block-end: var(--space-lg); }

.text-xs { 
  font-size: var(--text-xs); 
  line-height: 1.3;
  font-weight: var(--fw-md);
}

.text-sm { 
  font-size: var(--text-sm); 
  line-height: 1.35;
  font-weight: var(--fw-md);
}

.text-md { 
  font-size: var(--text-md); 
  line-height: 1.45;
  font-weight: var(--fw-md);
}

.text-lg { 
  font-size: var(--text-lg); 
  line-height: 1.5;
  font-weight: var(--fw-bold);
}

.fw-md {
  font-weight: var(--fw-md);
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.line-clamp-1, 
.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.line-clamp-2 {
  -webkit-line-clamp: 2;
  line-clamp: 2;
}
