.log-in__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.log-in__buttons {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

.log-in__button {
  flex: 0 1 100px;
}

.log-in__error-message {
  color: rgba(var(--red,1));
  font-size: var(--text-sm);
  text-align: center;
}