/* list */

.song-version-list {
    gap: .5rem;
}

/* version card */

.version-card {
    font-size: var(--text-md);
    display: flex;
    align-items: center;
    gap: var(--space-md);
    height: 45px;
}

.version-card__content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--space-md);
}

.version-card__title {
    color: rgba(var(--white), 1);
    font-size: var(--text-md);
    font-weight: var(--fw-md);
    transition: color .3s ease;
}

.version-card__rating {
    flex: 0 0 auto;
}

.version-card:hover, .version-card--selected, .version-card:focus-within {
    .version-card__title {
        color: rgba(var(--purple));
    }
}
