.user-preferences-form {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
    font-size: var(--text-md);
    color: rgba(var(--white));
}

.user-preferences-form__button {
    max-width: 80px;
}

.user-preferences-form__chords-language-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

.user-preferences-form__chords-language-label {
    flex: 1 1 100%;
    font-weight: 400;
}

.user-preferences-form__chords-language-radios {
    display: flex;
    gap: .5rem;
    cursor: pointer;
    background-color: rgba(var(--blue-200));
    border: 1px solid rgba(var(--blue-200));
    padding: .3rem .7rem;
    border-radius: 999px;
    user-select: none;
}

.user-preferences-form__chords-language-inputs-radios {
    cursor: pointer;
    accent-color: rgba(var(--pink));
}

.user-preferences-form__labels {
    display: flex;
    gap: 1rem;
}

.user-preferences-form__label-checkbox {
    display: flex;
    gap: .5rem;
    cursor: pointer;
}

.user-preferences-form__checkbox {
    cursor: pointer;
    accent-color: rgba(var(--pink));
}
