.alert-wrapper {
    width: 100%;
    height: 100%;
    flex: 1;

    display: grid;
    place-content: center;
}

.alert {
    width: fit-content;
    padding: var(--space-md);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-sm);
    
    text-align: center;
}

.alert__icon {
    width: 32px;
}

.alert__title {
    font-size: var(--text-md);
    font-weight: var(--fw-bold);
}

.alert__message {
    font-size: var(--text-md);
    color: rgba(var(--white), .8);
    max-width: 40ch;
}

