.button {
    border: none;
    background-color: none;
    padding: .4rem .6rem;
    height: 35px;
    border-radius: 5px;
    
    transition: background-color .2s ease, color .2s ease;
    
    color: rgba(var(--white));
    font-size: var(--text-md);
    font-weight: var(--fw-md);
    
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    justify-content: center;
    overflow: hidden;
}

.button:disabled {
    opacity: .6;
    cursor: not-allowed;
}

.button--transparent {
    background-color: transparent;
    padding: 0;
}


.button--primary {
    border: 1px solid rgba(var(--blue-170));
    background-color: rgba(var(--blue-200));
}


.button--secondary {
    border: 1px solid rgba(var(--blue-170));
    background-color: rgba(var(--blue-100));
}



/* Desktops with mouse */
@media (hover: hover) and (pointer: fine) {
    .button:not(.button:disabled) {
        cursor: pointer;
    }

    .button:hover {
        opacity: 1;
    }

    .button--transparent:not(.button:disabled):hover {
        color: rgba(var(--white), .8);
    }

    .button--primary:not(.button:disabled):hover {
        border: 1px solid rgba(var(--blue-200));
        background-color: rgba(var(--blue-200), .8);
    }

    .button--secondary:not(.button:disabled):hover {
        background-color: rgba(var(--blue-200), .4);
    }
}