.details-list {
  line-height: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
  overflow: hidden;
  flex: 1;
}

.details-list__item {
  position: relative;
}


.details-list__item:nth-child(n + 2):before {
  position: absolute;
  content: '\2022';
  left: -.5rem;
  transform: translateX(-50%);
}

