.error-display {
    align-self: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
    min-height: 150px;
    padding: 1rem;
}

.error-display__message {
    font-size: var(--text-md);
    font-weight: 500;
    color: rgba(var(--white))
}

.error-display__button {
}

.error-display[data-size="lg"] {
    .error-display__message {
        font-size: var(--text-lg);
    }
    .error-display__button {
        padding: .4rem .8rem;
    }
}