.page-error-view {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    
    height: 100%;
}

.page-error-view__title {
    text-align: center;

    font-size: clamp(1.5rem,5vw, 3rem);
    color: rgba(var(--white));
}

.page-error-view__description {
    margin-top: 1rem;
    text-align: center;

    max-width: 40ch;
    font-size: var(--text-lg);
    color: rgba(var(--white), .8);
}


.page-error-view__actions {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.page-error-view__back-button, .page-error-view__retry {
    max-width: 200px;
}

.page-error-view__backward-icon {
    margin-right: .5rem;
}
