.search {
  display: flex;
  max-width: 550px;
  width: 100%;
  height: 50px;
  font-size: var(--text-md);
}

.search__form {
  position: relative;
  height: 100%;
  width: 100%;
}

.search__input {
  height: 100%;
  width: 100%;
  padding: 0 .7rem;
  border: none;
  border: 1px solid rgba(var(--blue-170));
  background-color: rgba(var(--blue-100), 1);
  border-radius: 999px;
  padding-left: 1rem;
  padding-right: 3rem;
}

.search__input:focus {
  z-index: 1;
  outline: 2px solid rgba(var(--blue-250), .3);
  outline-offset: 2px;
}

.search__input::placeholder {
  color: rgba(var(--white), .4);
}

.search__input:-webkit-autofill,
.search__input:-webkit-autofill:hover, 
.search__input:-webkit-autofill:focus, 
.search__input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(var(--blue-100), 1) inset !important;
    -webkit-text-fill-color: rgba(var(--white)) !important;
}

.search__button {  
  right: .5rem;
  aspect-ratio: 1/1;
  position: absolute;
  top: calc(50%);
  transform: translateY(-50%);
  padding: .4rem;
}

.search__icon {
  width: 24px;
  height: 24px;
}