.slider {
    -webkit-appearance: none;
    appearance: none;

    --current-progress-color: rgba(var(--white), 1);
    --remaining-progress-color: rgba(var(--white), .15);
    --track-border-radius: 999px;
    --thumb-height: 13px;
    --thumb-width: 13px;
    --thumb-border-radius: 999px;
    --thumb-color: rgba(var(--white), 1);
    --slider-height: 5px;
    --value: 0%;

    border: none;
    min-height: max(var(--thumb-height), var(--slider-height));
    
    min-width: 20px;
    width: 100%;

    background: #00000000;
  }

  .slider:hover {
    --remaining-progress-color: rgba(var(--white), .2);
  }

  .slider::-webkit-slider-runnable-track {
    transition: background-image .1s ease;
    -webkit-appearance: none;
    appearance: none;
    
    position: relative;
    height: var(--slider-height);
    background: var(--remaining-progress-color, blue);
    border-radius: var(--track-border-radius);
    background-image: linear-gradient(90deg, var(--current-progress-color, red) 0, #0000 0);
    background-image: linear-gradient(to right, var(--current-progress-color, red) var(--value, 0), #0000 var(--value, 0));
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    --slider-thumb-offset: calc(var(--thumb-width, 0) / 2);
    left: clamp(var(--slider-thumb-offset), var(--value, 0), calc(100% - var(--slider-thumb-offset)));

    width: var(--thumb-width);
    height: var(--thumb-height);
    
    top: calc((var(--slider-height) / 2) - (var(--thumb-height) / 2));
    transform: translate(calc(0px - (var(--thumb-width)/2)));

    border-radius: var(--thumb-border-radius);
    background-color: var(--thumb-color);
    border: none;
  }

.slider::-moz-range-track {
  -webkit-appearance: none;
  appearance: none;
  background: var(--remaining-progress-color, blue);
  border-radius: var(--track-border-radius);
  height: var(--slider-height);
}
.slider::-moz-range-progress {
  transition: background .1s ease;
  background-color: var(--current-progress-color, red);  
  border-top-left-radius: var(--track-border-radius);
  border-bottom-left-radius: var(--track-border-radius);
  height: var(--slider-height);
}
.slider::-moz-range-thumb {
-webkit-appearance: none;
appearance: none;
width: var(--thumb-width);
height: var(--thumb-height);  
border: none;
border-radius: var(--thumb-border-radius);
background-color: var(--thumb-color);
}


.slider::-webkit-slider-thumb, .slider::-moz-range-thumb {
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);
}
