.song-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;

  font-size: var(--text-md);
}

.song-details__item {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  color: rgba(var(--white), .8);
}

.song-details__item-pill {
  color: rgba(var(--white), 1);
  
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  text-wrap: nowrap;
  
  background-color: rgba(var(--blue-200));
  border-radius: 999px;
  padding: .3rem 1rem;
  width: fit-content;
}