name: "Deploy"

on: 
  push:
    branches: 
      - main
                
  workflow_dispatch: 

env: 
    NODE_VERSION: '22.x'  

jobs: 
  changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      api: ${{ steps.filter.outputs.api }}
      app: ${{ steps.filter.outputs.app }}
      db-migrations: ${{ steps.filter.outputs.db-migrations }}
    steps:
      - uses: actions/checkout@v4

      - name: Checking path changes
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            api:
              - 'packages/api/**'
              - 'packages/common/**'
            app:
              - 'packages/app/**'
              - 'packages/common/**'
            db-migrations:
            - 'packages/db-migrations/**'

  # BUILDS

  build-api:
    needs: changes

    if: ${{ needs.changes.outputs.api == 'true' || github.event_name == 'workflow_dispatch'  }}

    runs-on: ubuntu-latest

    permissions:
        contents: read
    
    steps:
        - uses: actions/checkout@v4
    
        - name: Set up Node.js
          uses: actions/setup-node@v4
          with:
            node-version: ${{ env.NODE_VERSION }}
            cache: 'npm'

        - name: Install dependencies and build project
          run: |
            npm ci --workspace=@chords-extractor/api
            npm run build --workspace=@chords-extractor/api
        
        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with: 
            name: api-build
            path: "./packages/api/build"

  build-app:
    environment: 'Production'
    
    needs: changes

    if: ${{ needs.changes.outputs.app == 'true' || github.event_name == 'workflow_dispatch'  }}

    runs-on: ubuntu-latest

    permissions:
        contents: read
    
    steps:
        - uses: actions/checkout@v4
    
        - name: Set up Node.js
          uses: actions/setup-node@v4
          with:
            node-version: ${{ env.NODE_VERSION }}
            cache: 'npm'

        - name: Install dependencies and build project

          env:
            VITE_BACKEND_URL: ${{ secrets.JAMAIAPI_URL }}

          run: |
            npm ci --workspace=@chords-extractor/app
            npm run build --workspace=@chords-extractor/app
        
        - name: Upload artifact
          uses: actions/upload-artifact@v4
          with: 
            name: app-build
            path: "./packages/app/build"

  # Migrations 

  run-db-migrations: 
    environment: 'Production'
    permissions:
      contents: read
     
    runs-on: ubuntu-latest
    
    needs:
      - changes
    if: ${{ needs.changes.outputs.db-migrations == 'true' || github.event_name == 'workflow_dispatch' }}

    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'

      - name: Install dependencies
        run: |
          npm ci --workspace=@chords-extractor/db-migrations
          
      - name: Run db migrations
        env: 
          MONGO_URI: ${{ secrets.DBMIGRATIONS_MONGO_URI }}
          MONGO_DB_NAME: ${{ secrets.DBMIGRATIONS_MONGO_DB_NAME }}
        run: |
          npm run migrate:up --workspace=@chords-extractor/db-migrations

  # DEPLOYMENTS 

  deploy-api:
    permissions:
        id-token: write
        contents: none

    runs-on: ubuntu-latest
    needs: 
      - run-db-migrations
      - build-api
    if: ${{ always() && (needs.build-api.result == 'success' && (needs.run-db-migrations.result == 'success' || needs.run-db-migrations.result == 'skipped')) }}

    environment: 
        name: 'Production'
        url: ${{ steps.deploy-to-azure.outputs.webapp-url }}
    
    steps:
        - name: Download artifact from build job
          uses: actions/download-artifact@v4
          with:
            name: api-build
            
        - name: Login to Azure
          uses: azure/login@v2
          with:
            client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID }}
            tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID }}
            subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID }}

        - name: Deploy to azure
          id: deploy-to-azure
          uses: azure/webapps-deploy@v3
          with: 
            app-name: ${{ secrets.AZUREAPPSERVICE_WEBAPPNAME }}
            package: .
            
  deploy-app:
    permissions:
        contents: none

    runs-on: ubuntu-latest
    needs: 
      - build-app
      - deploy-api
    if: ${{ always() && (needs.build-app.result == 'success' && (needs.deploy-api.result == 'success' || needs.deploy-api.result == 'skipped')) }}

    environment: 
        name: 'Production'
        url: ${{ steps.deploy-to-azure-static-web-apps.outputs.static_web_app_url }}
    
    steps:
        - name: Download artifact from build job
          uses: actions/download-artifact@v4
          with:
            name: app-build

        - name: Deploy to azure static web apps
          id: deploy-to-azure-static-web-apps
          uses: Azure/static-web-apps-deploy@v1
          with: 
            azure_static_web_apps_api_token: ${{ secrets.JAMAIAPP_AZURE_STATIC_WEB_APPS_API_TOKEN }}
            action: "upload"
            skip_app_build: true
            app_location: '.'
            api_location: ''
            



